<div class="row py-3">
    <div class="col">
        <input class="form-control" onchange="onDateChange(this)" type="month" value="@ViewBag.DateText" />
    </div>
    <div class="col">
        <input class="form-control" id="search" type="text" placeholder="Ara" />
    </div>
</div>

<table id="table"
       data-toggle="table"
       data-search="true"
       data-search-on-enter-key="false"
       data-pagination="true"
       data-page-list="[10, 25, 50, 100, all]"
       data-search-selector="#search">
    <thead>
        <tr>
            <th class="text-center">Tesisat Numarası</th>
            <th class="text-center">Sözleşme Numarası</th>
            <th class="text-center" data-sortable="true">Abone Türü</th>
            <th class="text-center">Birim Fiyat</th>
            <th class="text-center">Harcanma Miktarı</th>
            <th class="text-center">Fatura Borcu</th>
            <th class="text-center">Hesaplanmış Borç</th>
            <th class="text-center" data-sortable="true">Firma</th>
            <th class="text-center">Adres</th>
            <th class="text-center">Diğer Açıklamalar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (dynamic obj in ViewBag.Subscriptions)
        {
        <tr>
            @if (@obj.Subscriber.SubscriberStatus == "On")
            {
                <td><i class="fa fa-circle text-success" aria-hidden="true"></i> @obj.Subscriber.InstallationNumber</td>
            }
            else
            {
                <td><i class="fa fa-circle text-danger" aria-hidden="true"></i> @obj.Subscriber.InstallationNumber</td>
            }
            <td>@obj.Subscriber.ContractNumber</td>
            <td>@obj.SubscriptionType.Name</td>
            @if (obj.CurrentUnitPrice != null)
            {
                <td>@obj.CurrentUnitPrice</td>
            }
            else
            {
                <td></td>
            }
            @if (obj.CurrentBill != null)
            {
                <td>@obj.CurrentBill.Amount</td>
                <td>@obj.CurrentBill.Debt</td>
            }
            else
            {
                <td></td>
                <td></td>
            }
            @if (obj.CurrentUnitPriceDebt != null)
            {
                <td>@obj.CurrentUnitPriceDebt</td>
            }
            else
            {
                <td></td>
            }
            <td>@obj.Company.Name</td>
            <td>@obj.Subscriber.Address</td>
            <td>@obj.Subscriber.ExtraInformation</td>
        </tr>
        }
    </tbody>
</table>

<script>
    function onDateChange(element) {
        let year = parseInt(element.value.split("-")[0]);
        let month = parseInt(element.value.split("-")[1]);
        window.location = '@Url.Action("Index", "ElectricitySubscriber")?Year=' + year + '&Month=' + month;
    }
</script>

